server:
  port: 8080
spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: "jdbc:postgresql://db-server.bipper.net:5432/skiing"
    username:
    password:
  thymeleaf:
    cache: false